//
// VARIABLES
//

// Colors
$mainBg: #f9f7e9;
$text: #384B70;
$searchInput: #f9f7e9;
$searchBg: #507687;
$dateText: #B8001F;
$blue: #4183C4;
$logo: #59738D;
$tagBg: #507687;
$tagText: #f9f7e9;
$quoteBg: rgba(254, 95, 85, 0.3);
$pearlAqua: #93E1D8;
$frozenWater: #DDFFF7;
$berryCrush: #AA4465;
$darkAmethyst: #462255;
$apricot: #F5D6BA;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}